*{
    margin: 0;   
    padding: 0;
    box-sizing:border-box;
  } /*(reset defaults)*/


nav div{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #0A0D1A;
    justify-content:flex-end;
    align-items: center;
  }

nav a{
    padding-right: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

#icono{
    padding: 15px;
    position: fixed;
    color: #4759B3;
}


#about{
    display: flex;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    justify-content: center;
    font-size: 20px;
}

div.conocimientos{
    display: flex;
    justify-content: space-evenly;
    margin-inline: 250px;
    padding: 25px;
}

div.conocimientos p{
    display:flex;
    background-color: pink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 250px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
}

.conocimientos p img{
    width: 150px;
    height: 150px;
    padding-top: 15px;
}

.trabajos{
    display: flex;
    justify-content: space-around;
    margin: 70px;
    margin-top: 50px;
}
.trabajos img{
    width: 400px;
    height: 300px;
    padding: 2px;
}

#HC{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

#C{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4759B3;
    padding: 10px;
    background-color: black;
}

div.contacto{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    background-color: black;
}

.contacto a{
    padding: 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}